<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- DATA TABLE -->
                <h3 class="title-5 m-b-35">data table</h3>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>order id</th>
                                <th>name</th>
                                <th>phone</th>
                                <th>description</th>
                                <th>date</th>
                                <th>status</th>
                                <th>price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%
                                orders.forEach(ord => {%>
                                    <tr>
                                            <td class="open-AddBookDialog desc" style="cursor: pointer;" data-id="<%=ord.Varies%>"><p data-toggle="modal" data-target="#mediumModal2"><%=ord.Varies%></p></td>
                                            <td>
                                                <span class="block-email"><%=ord.DetailInfo.OrderName%></span>
                                            </td>
                                            <td>
                                                <span class="block-email"><%=ord.DetailInfo.Phone%></span>
                                            </td>
                                            <td class="desc"><%=ord.Title%></td>
                                            <td><%=ord.Date%></td>
                                            <td>
                                                <span class="status--process">Waiting</span>
                                            </td>
                                            <td><%=ord.TotalPrice%></td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <% var x = 'SelectLm' + ord.Varies %>
                                                    <select name="selectSm" id="<%=x%>" class="form-control-sm form-control">
                                                        <option value="Waiting">Waiting</option>
                                                        <option value="Accept">Accept</option>
                                                        <option value="Deny">Deny</option>
                                                    </select>

                                                    <button id="<%=ord.Varies%>" onclick="Save(this.id);" type="button" class="btn btn-secondary btn-sm" style="margin-left: 20px;">Save</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="spacer"></tr>
                                <%})
                            %>
                        </tbody>
                    </table>
                </div>
                <!-- END DATA TABLE -->

                <div class="modal fade" id="mediumModal2" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="mediumModalLabel">Medium Modal</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        There are three species of zebras: the plains zebra, the mountain zebra and the Grévy's zebra. The plains zebra and the mountain
                                        zebra belong to the subgenus Hippotigris, but Grévy's zebra is the sole species of subgenus Dolichohippus. The latter
                                        resembles an ass, to which it is closely related, while the former two are more horse-like. All three belong to the
                                        genus Equus, along with other living equids.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>